@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */

.all_content {
  background: #ECF1F6;

}

.span {
  font-size: small;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}



/* サイドバー */
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
  padding-top: 20px;
}

.sidebar span {
  margin-left: 6px;
}

.sidebar p {
  margin-left: 6px;
}


/* ログインページ */

.border.vh-50.w-50 {
  background: #fff;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

}


.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

/* スクール予約関連 */

.calendar-td {
  /* background-color: #EEE; */
  min-width: 100px;
}

.day-blank {
  background: #D3D3D3;
}

/* .day-mon,
.day-tue,
.day-wed,
.day-thu,
.day-fri,
.day-sat,
.day-sun {
  background-color: #FFF;

  .border-primary {
    display: block;
  }
} */

.day-sat {
  color: #0000FF;

}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}


.day_part {
  /* color: #494949; */
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  /* display: none; */
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.flex {
  display: flex;
}

/* 掲示板 */
.post_title {
  color: #494949;
  font-weight: bold;
}

.sub_categories {
  display: none;
}

.post_create_container optgroup {
  background-color: #EBEBEB;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_area a {
  color: #494949;

  :visited {
    color: #494949;
  }
}

.post_bottom_area {
  justify-content: space-between;
}

.post_status i {
  color: #999;
}

.post_status span {
  margin-left: 8px;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}


/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detail_post_title {
  font-size: 14px;
}

.detail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.other_area {
  width: 200px;
  height: 100vh;
  padding-top: 20px;
}

.menu li {
  display: block;
  border-radius: 8px;
  margin-top: 24px;
  height: 48px;
}

.search_box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.search_box .text {
  border-color: #9E9E9E;
  border-radius: 8px 0 0 8px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 70%;
}

.search_box input {
  background: #ECF1F6;
}

.search_box .submit {
  cursor: pointer;
  width: 30%;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #03AAD2;
  color: #fff;
  height: 100%;
  margin: 0;
}

.menu_button {
  margin: 0;
  height: 100%;
  width: 49%;
  font-size: 12px;
  border-radius: 8px;
  padding: 5px;
  border: none;
  /* background: #04A9D2; */
  background: #EBBC5D;
  color: #FFF;
  text-align: center;
}

.menu_button:first-child {
  background-color: #E38EAB;
}

.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.button {
  display: block;
  width: 100%;
  height: 100%;
  border-style: solid;
  color: #fff;
  background: #04A9D2;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  padding: 11px 0;
}




.category_btn {
  font-size: 12px;
  border-radius: 8px;
  padding: 5px;
  border: none;
  background: #04A9D2;
  color: #FFF;
  text-align: center;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px 20px;
}

.accordion-content li {
  margin-bottom: 10px;
}

/* アコーディオンの矢印 */
.accordion-title {
  position: relative;
  border-bottom: solid 1px #999;
  display: block;
}

.accordion-title::after {
  border-right: solid 2px #494949;
  border-top: solid 2px #494949;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 25px;
  top: 38%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}

.accordion-title.open::after {
  top: 45%;
  transform: rotate(-45deg);
}

/* ユーザー検索 */
.reserve_users_area {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  background: #ECF1F6;
  border-radius: 5px;
  font-weight: bold;
}

.reserve_users_area span {
  font-size: 12px;
  font-weight: normal;
}

.one_person {
  width: 230px;
  height: 230px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  margin: 0 10px 10px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.form_group input,
.form_group select {

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: auto;
  height: 32px;
  min-width: 90px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  margin-bottom: 0px;
  padding: 0px 12px;
  cursor: pointer;
  border: none;
  max-width: 100%;
}



.search_conditions span {
  cursor: pointer;
  margin: 20px 0;
}

.search_conditions_inner {
  display: none;
  background: #ECF1F6;
  flex-direction: column;
}

.form_group div {
  display: flex;
}

.form_group input {
  margin: 0 10px;
}


.buttons {
  display: flex;
  flex-direction: column;

}

.buttons input {
  display: block;
  width: 100%;
  height: 100%;
  border-style: solid;
  color: #fff;
  background: #04A9D2;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  padding: 16px 0;
  margin-bottom: 20px;
}

.buttons input:nth-child(2) {
  color: #04A9D2;
  background: #fff;
}


.search_conditions_inner input {
  min-width: 8px;
}


.selected_engineer div {
  align-items: center;
}

.selected_engineer div label {
  margin: 0;
}

/* ユーザープロフィール */

.subject_edit_btn {
  font-size: 16px;
  border: none;
  color: #03AAD2;
  cursor: pointer;
}

.subject_edit_btn.accordion-title::after {
  left: 120px;
  border-color: #03AAD2;
}

.subject_edit_btn.accordion-title.open::after {
  left: 120px;
  border-color: #03AAD2;
}

.subject_inner {
  display: none;
}

.subject_inner form {
  display: flex;
  align-items: center;
}

.subject_inner form div {
  margin-right: 8px;
}

.subject_inner form div label {
  margin: 0;
}

/* .alert {
  color: #ED3833;
  margin: 20px auto;
  list-style: none;
  font-size: 12px;
} */
/*
.alert li {
  line-height: 1.5rem;
  margin: 0 auto;
} */

/* カレンダー */
.w-75 {
  border-radius: 5px;
}

.white {
  background-color: #fff;
}

.text-right input {
  margin-top: 10px;
}

.calendar table {
  margin-bottom: 0;
}

.day.flex {
  justify-content: space-around;
}

.inner {
  width: 70%;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

}

.reserve_detail {
  margin: 5px;
}

.reserve_detail tr:nth-child(odd) {
  background-color: #E5F6FA;
}

.reserve_detail tr:first-child {
  background-color: #03AAD2;
  color: #fff;
}

.reserve_detail td,
th {
  padding: 8px 12px;
}
